@use "../forward" as *;
.sign_wall {
  position: relative;
  background-color: #d9efd7;
  min-height: 100vh;
  padding-top: 80px;
  padding-bottom: 60px;
}

.signup_form {
  display: grid;
  grid-template-columns: 370px 300px 50px;
  box-sizing: border-box;
  width: 895px;
  height: 100%;
  margin: 0 auto;
  background-color: white;
  border-radius: 6px;

  padding-top: 60px;
  padding-bottom: 50px;
  padding-left: 80px;
  padding-right: 32px;
}

.form {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  color: black;
  font-family: ptsans-bold, sans-serif;
}

.form__title {
  margin: 0;
  font-size: 34px;
  font-family: ptsans-bold, sans-serif;
}

.form_link {
  font-size: 17px;
  font-family: ptsans-bold, sans-serif;
}

.link {
  font-size: 16px;
  font-family: ptsans-bold, sans-serif;
  color: #4dc43f;
  margin-left: 20px;
  text-decoration: none;
}

.fio {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.about_yourself {
  color: black;
  font-family: ptsans-bold, sans-serif;
  font-size: 16px;
  margin: 0;
}

.block_interest {
  margin-top: 18px;
  margin-bottom: 18px;
}
.your_interests {
  color: black;
  font-family: ptsans-bold, sans-serif;
  font-size: 16px;
  margin: 0;
}

.interests {
  margin-top: 10px;
}

.interest {
  border: 1px solid #4dc43f;
  padding: 3px 23px;
  cursor: pointer;
  color: #4dc43f;
  font-family: ptsans-bold, sans-serif;
  font-size: 12px;
  background-color: white;

  &:hover {
    transition: 0.5s;
    color: black;
    background-color: #4dc43f;
  }
}

.signup_photo {
  margin-top: 50px;
  width: 380px;
  height: 360px;
  background-size: contain;
  background-image: url(../../assets/img/new.svg);
  background-repeat: no-repeat;
}

.close_signup {
  background-image: url(../../assets/img/close.svg);
  background-repeat: no-repeat;
  width: 48px;
  border-radius: 50%;
  height: 48px;
  background-color: $color--base;
  border: none;
  background-position: center;
  margin-left: 60px;
  cursor: pointer;
}

.form_google {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 30px;
}

.access_with_google {
  font-size: 14px;
  &::after {
    content: url(../../assets/img/ch.svg);
    margin-left: 9px;
  }
  &::before {
    content: url(../../assets/img/ch.svg);
    margin-right: 9px;
  }
}

.google_button {
  background-image: url(../../assets/img/google.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 48px;
  height: 48px;
  background-color: transparent;
  border: none;
  margin-top: 30px;
  cursor: pointer;
}

.signup_submit {
  background-color: $color--base;
  width: 328px;
  height: 48px;
  border-radius: 1px;
  border: 1px solid $color--base;
  color: #ffffff;
  font-size: 16px;
  font-family: ptsans-bold, sans-serif;
  box-sizing: border-box;
  margin-bottom: 35px;
  cursor: pointer;
  outline: none;
  transition-property: background-color transform box-shadow;
  transition-duration: $transition-duration--short;

  &:hover {
    background-color: darken($color: $color--base, $amount: 10%);
  }

  &:active {
    transform: scale(0.9);
    box-shadow: 0 0 10px rgba(#000000, 0.4);
  }
}
