@use "../forward" as *;

.input {
  height: 48px;
  width: 328px;
  background-color: $background-color-input;
  border: none;
  cursor: pointer;
  font-size: $size-text--base;
  font-family: ptsans-bold, sans-serif;
  padding: 16px 16px;
  box-sizing: border-box;

  color: $active-color;
  &,
  &::placeholder {
    transition-property: color;
    transition-duration: 0.15s;
  }

  &::placeholder {
    color: lighten($active-color, 20%);
  }

  &:focus::placeholder {
    color: black;
  }

  &:focus {
    border: 1px solid $color--base;
    outline: none !important;
  }
}
.input_short {
  width: 156px;
  height: 48px;
  font-family: ptsans-bold, sans-serif;
  box-sizing: border-box;
  background-color: $background-color-input;
  border: none;
  font-size: $size-text--base;
  cursor: pointer;
  padding: 16px 16px;

  color: $active-color;

  &,
  &::placeholder {
    transition-property: color;
    transition-duration: 0.15s;
  }

  &::placeholder {
    color: lighten($active-color, 20%);
  }

  &:focus::placeholder {
    color: black;
  }
  &:focus {
    border: 1px solid $color--base;
    outline: none !important;
  }
}
.input_small {
  font-family: ptsans-bold, sans-serif;
  height: 48px;
  width: 280px;
  box-sizing: border-box;
  background-color: $background-color-input;
  border: none;
  font-size: $size-text--base;
  cursor: pointer;
  padding: 16px 16px;

  color: $active-color;

  &,
  &::placeholder {
    transition-property: color;
    transition-duration: 0.15s;
  }

  &::placeholder {
    color: lighten($active-color, 20%);
  }

  &:focus::placeholder {
    color: black;
  }
  &:focus {
    border: 1px solid $color--base;
    outline: none !important;
  }
}
.label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}
.formField__input_area {
  width: 530px;
  height: 119px;
  margin-top: 10px;
  font-family: ptsans-regular, sans-serif;
  font-size: $size-text--base;
  border: 1px solid $background-color-input;
  resize: none;

  color: $active-color;

  &,
  &::placeholder {
    transition-property: color;
    transition-duration: 0.15s;
  }

  &::placeholder {
    color: lighten($active-color, 40%);
  }

  &:focus::placeholder {
    color: $active-color;
  }

  &:focus {
    border: 1px solid $color--base;
    outline: none !important;
  }
}
