@use "../../scss" as *;

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.header {
  @include text($size-text--title);

  text-align: center;
  margin-top: 60px;
  margin-bottom: 60px;
  width: 100%;
  text-align: center;
}

.inputWrapper {
  display: flex;
  width: 100%;
  min-height: 48px;
  margin-bottom: 12px;
}

.input {
  @include input($color--base);

  width: 100%;
  min-height: 48px;
  background-color: transparent;
  padding: 0 12px;
  box-sizing: border-box;
  border: 2px solid $color--base;
  gap: $gutter-small;
  font-size: $size-text--base;
  color: #3e3e3e;
}

.searchButton {
  width: 100px;
  border: none;
  background-color: $color--base;
  cursor: pointer;
}

.searchIcon {
  width: 32px;
  height: 32px;
}

.searchIcon * {
  fill: white;
  stroke: transparent;
  width: 37px;
  height: 37px;
}

.reset, .moreBtn {
  border: none;
  background-color: transparent;
  border: 1px solid $color--base;
  font-size: 1rem;
  cursor: pointer;
}

.filterCityWrapper {
  box-sizing: border-box;
  position: relative;
  display: flex;
  margin-right: 20px;
}

.filterInput {
  width: 180px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  color: $color--base;
  padding: 0px 9px;
  min-width: 200px;
  height: 48px;
}

.autoCompleteList {
  box-sizing: border-box;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  z-index: 99;
  top: 100%;
  left: 0px;
  right: 0px;
  padding: 0;
  margin-top: -1px;
  gap: $gutter-small;
  border: 1px solid $color--base;
  background-color: white;
}

.autoCompleteItem {
  @include text($size-text--base);

  display: flex;
  width: 100%;
  min-height: 10px;
  max-height: 30px;
  padding: inherit;
  font-size: 1rem;
  color: $color--base;
  padding: 5px 9px;
  background-color: white;
  cursor: pointer;
}

.autoCompleteItem:hover {
  background-color: $color--base;
  color: white;
  cursor: pointer;
}

.reset {
  width: 180px;
  height: 48px;
  min-width: 150px;
  color: white;
  background-color: $color--base;
  margin-right: 0px;
  margin-left: 20px;
}

.peopleList {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  min-height: 20px;
  margin-top: 20px;
}

.sort {
  @include text($size-text--base);

  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  font-size: 1rem;
  margin-top: 40px;
}

.allUsers {
  display: flex;
  margin-right: 20px;
  font-weight: bold;
}

.moreBtn {
  min-width: 180px;
  align-self: center;
  margin: 0px auto;
  font-size: $size-form-link;
  background-color: $color--base;
  color: white;
  padding: 20px 80px;
}