@use "../../forward" as *;

.widgetGrid {
  display: flex;
  column-gap: 30px;
  row-gap: 18px;
  flex-wrap: wrap;

  &__widget {
    @include fill-widget;
    display: flex;
    flex: 1;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
}
