$font-size--root: 10px;

$color--base: #4dc43f;
$color-text--dark: #3d3d3d;
$color-text--light: #777777;

$size-text--base: 1.6rem;
$size-text--title: 4.1rem;

$organizator-card--bgcol: #f5f4f4;
$organizator-card--avatar-size: 200px;
$header--bgcol: white;

$gutter-small: 6px;

$transition-duration--short: 0.15s;
$transition-duration--long: 0.5s;
