@use "../../forward" as *;

$icon-names: ("place", "search");
$icon-size: 24px;

.input {
  display: flex;
  gap: $gutter-small;
  align-items: center;
  max-width: 272px;
  min-height: 48px;
  background-color: white;
  margin-top: 20px;
  padding: 0 12px;
  border: 2px solid #404040;
  width: 100%;
  box-sizing: border-box;

  &__field {
    color: #3e3e3e;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: $size-text--base;
    width: 100%;
  }

  &__icon {
    min-width: $icon-size;
    min-height: $icon-size;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    @each $icon in $icon-names {
      &--#{$icon} {
        background-image: url(../../../assets/img/#{$icon}.svg);
      }
    }
  }
}
